/* General Styles */
:root {
  --primary-color: #970f0f;
  --secondary-color: #4caf50;
  --background-blur: rgba(215, 215, 215, 0.25);
  --button-color: #e6bd39a8;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f7f6f6;
  height: 100vh;
  overflow: hidden;
}

/* Upload Form Container */
.upload-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--background-blur);
  height: 100vh;
  width: 100vw;
  position: fixed; /* Keeps it in place */
  top: 0;
  left: 0;
}

/* Header */
.AddPaperHeader {
  background-color: var(--background-blur);
  backdrop-filter: blur(5px);
  padding: 1.5rem 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  text-align: center;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

/* Logo Styling */
.AddPaperHeader-logo {
  height: auto;
  max-height: 6rem;
  object-fit: contain;
  width: 100vw;
}

/* Upload Title */
.upload-title {
  color: var(--primary-color);
  font-size: 1.8rem;
  text-align: center;
}

/* Upload Box */
.upload-box {
  background-color: var(--background-blur);
  backdrop-filter: blur(5px);
  padding: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  width: 20vw;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10vh;
  transition: box-shadow 0.3s ease-in-out;
}

.upload-box:hover {
  box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.7), 
              0 0 20px 10px rgba(255, 255, 255, 0.5), 
              0 0 30px 15px rgba(255, 255, 255, 0.3);
}

/* Input Groups */
.input-group {
  margin-bottom: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

/* Labels */
.input-group label {
  display: inline-block;
  width: 100px;
  font-size: 14px;
  margin-right: 10px;
  color: #333;
  text-align: right;
}

/* Input Fields */
.input-group input,
.input-group select {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #dfdddd65;
  border-radius: 4px;
  font-size: 14px;
  box-sizing: border-box;
  width: 100%;
}

/* Submit Button */
.upload-box button {
  width: 50%;
  padding: 10px;
  background-color: var(--button-color);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
  margin-bottom: 10px;
}

/* Hover Effect */
.upload-box button:hover {
  background-color: var(--primary-color);
}

/* Heading */
.upload-box h1 {
  font-size: 24px;
  margin-top: 0px;
  margin-bottom: 30px;
}

/* Footer */
.upload-footer {
  width: 100%;
  background-color: #333;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 2vh;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: fixed;
  bottom: 0;
  left: 0;
}

/* Responsive Design */
@media (max-width: 768px) {

  .upload-form-container {
    width: 100vw;
    min-height: 100vh; /* Ensures the container fills the entire viewport */
    padding-bottom: 6vh; 
  }
  .upload-box {
    width: 90%;
    margin-top: 5vh;
  }

  .AddPaperHeader-logo {
    max-width: 100vw;
  }

  .input-group label {
    width: 70px;
  }

  .input-group input,
  .input-group select {
    font-size: 12px;
    padding: 8px;
  }

  .upload-box h1 {
    font-size: 20px;
  }

  .upload-box button {
    width: 100%;
    padding: 12px;
  }

  .upload-footer {
    bottom: 0;
    width: 100%;
  }
}

@media (max-width: 480px) {
  .AddPaperHeader-logo {
    max-width: 350px;
  }

  .upload-box {
    width: 80%;
  }

  .upload-title {
    font-size: 18px;
  }
}