/* Center the entire container on the page */
.upload-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Full viewport height to center the box */
  background-color: #f7f6f641;
  margin: 0;
}


.AddPaperHeader-logo {
  max-width: 100%; /* Ensure it scales properly */
  height: auto;
  max-width: 650px; /* Limit the logo size */
  object-fit: contain;
}

/* Title styling */
.upload-title {
  color: #970f0f;
}

/* Style the box that contains the form */
.upload-box {
  background-color: #dfdddd00;
  backdrop-filter: blur(5px);
  padding: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  width: 370px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 120px;
}

/* Style the form elements */
.input-group {
  margin-bottom: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Style the labels */
.input-group label {
  display: inline-block;
  width: 80px; /* Adjust width to fit label */
  font-size: 14px;
  margin-right: 10px;
  color: #333;
  text-align: right;
}

/* Style the input fields */
.input-group input,
.input-group select {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #dfdddd65;
  border-radius: 4px;
  font-size: 14px;
  box-sizing: border-box;
}

/* Style the submit button */
.upload-box button {
  width: 30%;
  padding: 10px;
  background-color: #e6bd39a8;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
  margin-bottom: 10px;
}

/* Add hover effect to the button */
.upload-box button:hover {
  background-color: #970f0f;
}

/* Style the heading */
.upload-box h1 {
  font-size: 24px;
  margin-top: 0px;
  margin-bottom: 30px;
}

/* Responsive Design for Tablets and Mobile */
@media (max-width: 768px) {
  .upload-box {
    width: 90%; /* Make the form width responsive */
    margin-top: 100px; /* Adjust margin for smaller screens */
  }

  .AddCertificateHeader-logo {
    max-width: 400px; /* Adjust the logo size on smaller screens */
  }

  .input-group label {
    width: 70px; /* Adjust label width for smaller screens */
  }

  .input-group input,
  .input-group select {
    font-size: 12px; /* Decrease font size for smaller screens */
    padding: 8px; /* Reduce padding for better fit */
  }

  .upload-box h1 {
    font-size: 20px; /* Smaller heading for mobile */
  }

  .upload-box button {
    width: 100%; /* Make the button full width on mobile */
    padding: 12px; /* Increase padding for better usability */
  }
}

@media (max-width: 480px) {
  .AddCertificateHeader-logo {
    max-width: 400px;
  }

  .upload-box {
    width: 75%; /* Adjust to fit on smaller screens */
  }

  .upload-title {
    font-size: 18px; /* Decrease title font size for mobile */
  }

  .footer {
    padding: 15px; /* Make footer padding larger for smaller screens */
  }
}
