/* Center the entire container on the page */
.admin-report-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f7f6f641;
  margin: 0;
  margin-top: 145px;
  margin-bottom: 50px;
  padding-top: 20px; /* Add padding to ensure content is below the header */
}

/* Header styling */
.AdminReportHeader {
  width: 100%;
  background-color: #dfdddd65;
  padding: 20px 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  text-align: center;
  position: absolute;
  top: 0;
  z-index: 1000;
}

.AdminReportHeader-logo {
  max-width: 100%;
  height: auto;
  max-width: 650px;
  object-fit: contain;
}

.AdminReportLogoout-logo {
  max-width: 100%;
  height: auto;
  max-width: 60px;
  object-fit: contain;
}

/* Title styling */
.batch-title {
  color: #970f0f;
}

/* Style the box that contains the form */
.report-list {
  background-color: #dfdddd65;
  padding: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  width: 95%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0px;
}

/* Add hover effect to the button */
.report-list button:hover {
  background-color: #970f0f;
}

/* Footer styling */
.footer {
  width: 100%;
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: fixed;
  bottom: 0;
}

.footer p {
  margin: 0;
  font-size: 14px;
}

/* Style the table to be scrollable horizontally */
.report-table-wrapper {
  width: 100%;
  overflow-x: auto; /* Enable horizontal scrolling */
  margin-top: 20px;
}

/* Style for the table */
.report-table {
  width: 100%;
  border-collapse: collapse;
  table-layout: auto; /* Allow cells to adjust to content dynamically */
}

.report-table th,
.report-table td {
  padding: 10px;
  text-align: left;
  border: 1px solid #ddd;
  white-space: nowrap; /* Prevent content from wrapping */
}

.report-table th {
  background-color: #4caf50;
  font-weight: bold;
}

/* Responsive Design for Tablets and Mobile */
@media (max-width: 768px) {
  .report-list {
    width: 80%;
    margin-top: 120px;
  }

  .AdminReportLogoout-logo {
    max-width: 60px;
  }

  .AdminReportHeader-logo {
    max-width: 480px;
  }

  .footer {
    padding: 15px;
  }
}

@media (max-width: 480px) {
  .AdminReportHeader-logo {
    max-width: 340px;
  }
  .report-list {
    width: 80%;
    margin-top: 0px;
  }

  .batch-title {
    font-size: 18px;
  }

  .footer {
    padding: 20px;
  }
}
