/* General Styles */
:root {
  --primary-color: #970f0f;
  --secondary-color: #4caf50;
  --background-blur: rgba(215, 215, 215, 0.25);
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f7f6f6;
}

/* Faculty Container */
.Faculty-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: var(--background-blur);
  min-height: 100vh;
  padding: 0px;
  overflow-y: auto;
}

/* Header */
.FacultyHeader {
  background-color: var(--background-blur);
  backdrop-filter: blur(5px);
  padding: 1.5rem 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  text-align: center;
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1000;
}

/* Logo Styling */
.FacultyHeader-logo {
  height: auto;
  max-height: 6rem;
  object-fit: contain;
  width: 70vw;
}

.FacultyLogout-logo {
  max-height: 5rem;
  width: 15vw;
  object-fit: contain;
  position: absolute;
  right: 1rem;
  bottom: 1.5rem;
  opacity: 0.7;
  transition: opacity 0.3s ease-in-out;
}

.FacultyLogout-logo:hover {
  opacity: 1;
}

/* List Container */
.Faculty-list {
  background-color: var(--background-blur);
  backdrop-filter: blur(5px);
  padding: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  width: 95vw;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5vh;
  max-height: 65vh;
  transition: box-shadow 0.3s ease-in-out;
}

.paper-type-filter {
  margin-bottom: 10px;
}

.FacultyTable-wrapper {
  overflow-y: auto;
  width: 100%;
}

.Faculty-list:hover, .FacultyTable-wrapper:hover {
  box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.7),
              0 0 20px 10px rgba(255, 255, 255, 0.5),
              0 0 30px 15px rgba(255, 255, 255, 0.3);
}

/* Table Styling */
table {
  width: 100%;
  border-collapse: collapse;
  table-layout: auto;
}

th, td {
  padding: 1rem;
  text-align: left;
  border: 1px solid #ddd;
  white-space: nowrap;
}

th {
  background-color: var(--secondary-color);
  font-weight: bold;
  color: white;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* Button Styling */
button {
  padding: 5px 10px;
  cursor: pointer;
  border: none;
  background-color: var(--secondary-color);
  color: white;
  border-radius: 5px;
  margin-bottom: 10px;
}

button:hover {
  background-color: #45a049;
}

/* Footer */
.Faculty-footer {
  width: 100vw;
  background-color: #333;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 2vh;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: fixed;
  bottom: 0;
}

/* Responsive Design */
@media (max-width: 768px) {
  .FacultyHeader-logo {
    max-width: 350px;
  }

  .FacultyLogout-logo {
    max-width: 40px;
  }

  h1 {
    font-size: 16px;
  }

  table {
    font-size: 12px;
  }

  .list {
    margin-top: 90px;
  }
}