/* Center the content and add padding to allow scrolling */
.Faculty-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* Ensure content stays at top */
  background-color: #f7f6f641;
  margin: 0;
  margin-top: 0px;
  padding-top: 20px; /* Ensure space for header */
  overflow-y: auto; /* Allow vertical scrolling */
  height: calc(100vh - 110px); /* Ensure the container takes the full height, minus header */
}

/* Header styling */
.FacultyHeader {
  background-color: #dfdddd65;
  padding: 20px 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  text-align: center;
  position: sticky; /* Fix the header at the top and make it scroll with content */
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.FacultyHeader-logo {
  width: 100%;
  height: auto;
  max-width: 1000px;
  object-fit: contain;
}
.FacultyLogout-logo {
  width: 100%;
  height: auto;
  max-width: 60px;
  object-fit: contain
}

/* Styling for the table container */
.list {
  background-color: #dfdddd65;
  padding: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  border-radius: 8px;
  width: 95%;
  display: flex;
  flex-direction: column;
  margin-top: 20px; /* Ensure there's spacing between the header and the list */
  margin-bottom: 10px;
  overflow-x: auto; /* Allow horizontal scrolling */
  max-height: calc(100vh - 200px); /* Ensure table content is scrollable without overlapping footer */
  overflow-y: auto; /* Allow vertical scrolling for table content */
}

/* Table styling */
table {
  width: 100%; /* Take full width of container */
  border-collapse: collapse;
  margin-top: 10px;
  table-layout: auto; /* Allow table cells to adjust based on content */
}

th, td {
  padding: 10px;
  text-align: center;
  border: 1px solid #ddd;
  word-wrap: break-word;
  white-space: normal; /* Allow text to wrap */
}

th {
  background-color: #4caf50;
  color: white;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

button {
  padding: 5px 10px;
  cursor: pointer;
  border: none;
  background-color: #4caf50;
  color: white;
  border-radius: 5px;
}

button:hover {
  background-color: #45a049;
}

/* Footer styling */
.footer {
  width: 100%;
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: fixed;
  bottom: 0;
  z-index: 1000;
}

.footer p {
  margin: 0;
  font-size: 14px;
}

/* Responsive design for mobile */
@media (max-width: 768px) {
  .StudentHeader-logo {
    max-width: 350px;
  }

  .StudentLogout-logo {
    max-width: 40px;
  }

  h1 {
    font-size: 16px;
  }

  table {
    font-size: 12px;
  }

  .list {
    margin-top: 90px;
  }
}
