/* Center the entire container on the page */
.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Full viewport height to center the box */
  background-color: #f7f1f169;
  margin: 0;
}

.LoginHeader {
  width: 100%;
  background-color: #dfdddd00;
  backdrop-filter: blur(10px);
  padding: 20px 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  text-align: center;
  position: absolute;
  top: 0;
}

.LoginHeader-logo {
  width: 100%;  /* Ensure the image takes up full width of the header */
  height: auto; /* Maintain aspect ratio */
  max-width: 650px; /* Set a max width for large screens */
  object-fit: contain; /* Ensure the image fits without distortion */
  background-color: #dfdddd00;
}

/* Login form box */
.login-box {
  backdrop-filter: blur(5px); /* Apply the blur effect */
  padding: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  width: 300px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Form elements */
.input-group {
  margin-bottom: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Label styling */
.input-group label {
  display: inline-block;
  width: 80px;
  font-size: 14px;
  margin-right: 10px;
  color: #7e7676;
  text-align: right;
}

/* Input fields */
.input-group input,
.input-group select {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
  border-radius: 4px;
  font-size: 14px;
  box-sizing: border-box;
}

/* Login button */
.login-box button {
  width: 30%;
  padding: 10px;
  background-color: #e6bd39a8;
  color: white;
  border: none;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
  margin-bottom: 10px;
}

/* Hover effect on button */
.login-box button:hover {
  background-color: #970f0f;
}

/* Heading styling */
.login-box h1 {
  font-size: 24px;
  margin-top: 0px;
  margin-bottom: 30px;
}

.Loginfooter {
  width: 100%;
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: absolute;
  bottom: 0;
}

.Loginfooter p {
  margin: 0;
  font-size: 14px;
}

/* Mobile responsiveness */
@media (max-width: 768px) {
  .LoginHeader-logo {
    max-width: 450px; /* Reduce size for smaller screens */
  }

  .login-box {
    width: 72%; /* Reduce the width for smaller screens */
    padding: 20px;
  }

  .login-box h1 {
    font-size: 20px;
  }

  .login-box button {
    width: 30%; /* Adjust button width for smaller screens */
  }
}

/* Tablet responsiveness */
@media (min-width: 768px) and (max-width: 1024px) {
  .login-box {
    width: 30%; /* Allow more space on tablets */
  }

  .login-box h1 {
    font-size: 22px;
  }

  .login-box button {
    width: 30%; /* Adjust button size for tablets */
  }
}
